#!/bin/bash

### BEGIN INIT INFO
# Provides:          route_xdcdb-usermap
# Required-Start:    $remote_fs $syslog
# Required-Stop:     $remote_fs $syslog
# Default-Start:     2 3 4 5
# Default-Stop:      0 1 6
# Short-Description: Route XDCDB-Users information from a source to a destination
# Description:       Route XDCDB-Users information from a {file, directory, amqp} to a {directory, api}
### END INIT INFO

# Change these lines to suit where you install your script and what you want to call it
DAEMON_NAME=route_xdcdb-usermap
APP_BASE=/soft/warehouse-apps-1.0/Manage-XDCDB-Users
APP_SOURCE=${APP_BASE}/PROD
WAREHOUSE_SOURCE=/soft/warehouse-1.0/PROD
DAEMON_BIN=${APP_SOURCE}/bin/${DAEMON_NAME}.py
DAEMON_LOG=${APP_BASE}/var/${DAEMON_NAME}.daemon.log
exec >$DAEMON_LOG 2>&1

# Add any command line options for your daemon here
DAEMON_OPTS="-l info -c ${APP_BASE}/conf/${DAEMON_NAME}.conf"

# This next line determines what user the script runs as
DAEMON_USER=software

. /etc/init.d/functions

PYTHON_BASE=${APP_BASE}/`cat python/lib/python*/orig-prefix.txt`
export LD_LIBRARY_PATH=${PYTHON_BASE}/lib

PIPENV_BASE=${APP_BASE}/python
source ${PIPENV_BASE}/bin/activate

PYTHON_BIN=python3

export PYTHONPATH=${APP_SOURCE}/lib:${WAREHOUSE_SOURCE}/django_xsede_warehouse
export DJANGO_CONF=${APP_BASE}/conf/django_xsede_warehouse.conf
export DJANGO_SETTINGS_MODULE=xsede_warehouse.settings

do_start () {
    echo "Starting ${DAEMON_NAME}:"
    echo "${PYTHON_BIN} ${DAEMON_BIN} $@ ${DAEMON_OPTS}"
    ${PYTHON_BIN} ${DAEMON_BIN} $@ ${DAEMON_OPTS}
    RETVAL=$?
}

case "$1" in

    start)
        do_${1} ${@:2}
        ;;

    *)
        echo "Usage: ${DAEMON_NAME} {start} [<optional_parameters>]"
        exit 1
        ;;

esac
echo rc=$RETVAL
exit $RETVAL
